body.style{
	background-color:#F1C9CF;
	
}
#toto{
background-color: #F1C9CF;
font-size:50px;
color:red;
text-shadow: 1px 1px 5px black;
font-family: "Georgia", Times, serif;
}

.tablo{
	margin-left: 60px;
	margin-top: 125px;
	border: 4px solid black;
	border-radius: 10px;
	box-shadow: 1px 1px 5px black;
}
.tablo img{
	 height:220px;
    width:220px;
}

.tablo img:hover{
    opacity: 0.3;
}
.tablo td{
	border: 4px solid black;
}