body.style{
	background-color: #F0C268;
	
}
#toto{
	font-family: sans-serif;
background-color: white;
font-size:50px;
color: red;
text-shadow: 1px 1px 5px black;
}
.tablo{
	margin-left: 60px;
	margin-top: 125px;
	border: 4px solid red;
	border-radius: 10px;
	box-shadow: 1px 1px 5px black;
}
.tablo img{

	 height:220px;
    width:220px;
}
.tablo img:hover{
    opacity: 0.3;
}
.tablo td{
	border: 4px solid red;
}