html{
		font size:50%;
		margin:10;
		padding:40;
		}

body{
			background-color:#A29CB8;
			font-family:Verdana;
			font-size:700;
		}

img{
	float:right;
}
	
	
h1 {
		font-size:500;
		font-style:oblique;
		color:#373434;
		text-align:Left;
		margin:0;
		}
ul{
	margin:0;	
}

h2{
		font-weight:500;
		font-style:italic;
		Color:##373434;
		text-align:center;
}

.qualite{
	color:Red;
	font-style:italic;
}
.ex{
	color:blue;
	font-style:italic;
	box-shadow:3px 3px 3px black;
}
div{

p{
		font-weight:200;
		font-style:italic;
		color:black;
}
ul{
		color:black;
		font-style:italic;
		font-size:20px;
}	

hr{
	border-top:3px double #333;
	overflow:visible;
	height:5px;
}

p{
	font-style:italic;
	color:navy;
}

		
