body.style{
	background-color: #B0FFFC;
	font-family: "Times New Roman", Times, serif;
}
.infophoto{
	 height: 200px;
     margin: auto;
     border: 2px solid black;
     border-radius: 30px;
     background-color: white;
     font-size: 20px;
     font-weight: bold;
     padding-right: 30px;
     padding-left: 30px;
     padding-top: 10px;
}
.infophoto h1{
	font-size: 30px;
	margin: 0px;
}
#profilepic{
	height:180px;
    width:180px;
    float:right;
     box-shadow: 10px 5px 5px gray;
}
#profilepic:hover{
     box-shadow: 10px 5px 5px blue;
}
.myTable
{
	 border: 4px solid black;
	 border-radius: 10px;
}

.myTable h1
{
    text-shadow: 1px 1px 2px gray;
	text-align: center;
	font-size: 30px;
}
.myTable li
{
	font-style: italic;
}
.myTable img
{
    height:100px;
    width:100px;
	padding-left: 70px;
}
.myTable td
{
    border: 2px solid black;
}
.myTable tr
{
	border: 2px solid black;
}
img.links{
    height:50px;
    width:50px;
    float: left;
}
p.title{
	font-size: 20px;
	font-weight: bold;
	text-decoration: underline;
	margin: 0px;
}
p.date{
	margin: 0px;
	font-weight: bold;
}
a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: gray;
}

a:active {
  color: black;
}
