h1{
	color:red;  
	border:2px dotted black;
	text-align:center;

}

.tableau1
{
border: 5px solid black;
border-radius: 5px 5px;
box-shadow: 10px 76px #DEAA60;

}


.tableau2
{
border: 5px solid black;
border-radius: 5px 5px;
box-shadow:10px 5px #DEAA60;

}


.tableau3
{
border: 5px solid black;
border-radius: 5px 5px;
box-shadow: 10px 100px #DEAA60;

}


.tableau4
{
border: 5px solid black;
border-radius: 5px 5px;
box-shadow: 10px 126px #DEAA60;
font-style: oblique
}

.tableau5
{
border: 5px solid black;
border-radius: 5px 5px;

}



tr{
color:black;
font-size:20px;
font-family: monospace;




body {

}


