body
{
	background-image:url(marbre.jpg);
	background-size:cover;
	font-style:italic;
	color:white;
}


h1{
	color:red;  
	border:2px dotted black;
	text-align:center;

}

.tableau1
{
border: 5px solid black;
border-radius: 5px 5px;
box-shadow: 245px 76px #D0DEF0;
margin-left: 10%
}


.tableau2
{
border: 5px solid black;
border-radius: 5px 5px;
box-shadow:10px 5px #D0DEF0;
margin-left: 10%


}


.tableau3
{
border: 5px solid black;
border-radius: 5px 5px;
box-shadow: 600px 100px  #D0DEF0;
margin-left: : 10%;


}


.tableau4 table td
{
border: 5px solid black;
border-radius: 5px 5px;
box-shadow: 120px 126px #D0DEF0;
font-style: oblique;
color: white;
}

.tableau5
{
border: 5px solid black;
border-radius: 5px 5px;
}

tr{
color:black;
font-size:20px;
font-family: monospace;
}


